<section class="new">
  <div class="head">
    <div class="more">
      <a>
        المزيد
        <img src="../../assets/images/arrow-left-blue.png" class="user" />
      </a>
    </div>
    <span class="title"> جديد مصنعي</span>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/images/factory.jpeg" alt="" />
    </div>
    <div class="details">
      <div class="content">
        <div class="date">
          <img
            src="../../assets/images/date-calendar.png"
            class="search-alternate"
          />
          <span>السبت ٢١ يونيو</span>
        </div>
        <div class="container">
          <main class="flex">
            <div class="text">
              <span>تحديثات الخدمات</span>
            </div>
            <div class="text">
              <span>التكاملات الصناعية</span>
            </div>
            <div class="text">
              <span>سكن العمالة</span>
            </div>
          </main>
        </div>
        <div class="title">
          تحسين رحلة إصدار رخصة الماكينات الصديقة للبيئة للأفراد و للمصانع
          الصغيرة و المتوسطة
        </div>
        <span class="info">
          تسعي منصة مصنعي للتواصل من خلالها مع كل صاحب مصنع وذلك من أجل تحقيق
          أعلي مستوي من الانتاجية والتحسين المستمر للمنتجات تسعي “مصنعي” للتواصل
          من خلالها مع كل اصحاب المصانع الصغيرة و المتوسطة…
        </span>
      </div>
    </div>
  </div>
</section>
