<div class="footer">
  <div class="inner-footer">
    <!--  for company name and description -->
    <div class="footer-items">
      <img src="../../assets/images/direct-number.jpeg" />
      <img src="../../assets/images/email-info.jpeg" />
      <span class="suggest">
        للاقتراحات و الشكاوي <br />
        <a> صوتك مسموع </a>
      </span>
    </div>
    <!--   for social links -->

    <div class="footer-items">
      <span class="social-site first">
        مواقع التواصل
        <br />
        الإجتماعي
      </span>
      <div class="social-media">
        <a href="#">
          <img src="../../assets/images/youtube.png" />
        </a>
        <a href="#"><img src="../../assets/images/facebook.png" /></a>
        <a href="#"><img src="../../assets/images/twitter.png" /></a>
      </div>
    </div>
    <!--  for quick links  -->
    <div class="footer-items">
      <span class="social-site">روابط رئيسية</span>
      <!--for the underline -->
      <ul>
        <a href="#"><li>عن مصنعي</li></a>
        <a href="#"><li>خدمات مصنعي</li></a>
        <a href="#"><li>الاستعلامات</li></a>
        <a href="#"><li>دليل الماكينات</li></a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <span class="social-site">روابط مهمة</span>
      <!--for the underline -->
      <ul>
        <a href="#"><li>بوابة اصحاب المصانع</li></a>
        <a href="#"><li>بوابة المكاتب الصناعية</li></a>
        <a href="#"><li>بوابة موردي الماكينات</li></a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <span class="social-site">تواصل معنا</span>
      <!--for the underline -->
      <ul>
        <a href="#"><li>دليل الفروع</li></a>
        <a href="#"><li>مصطلحات مصنعي</li></a>
        <a href="#"><li>الاسئلة الشائعة</li></a>
        <a href="#"><li>اتصل بنا</li></a>
      </ul>
    </div>
    <div class="footer-info">
      <div class="flex">
        <img
          src="../../assets/images/logo-black-white.png"
          class="Logo_blackwhite"
        />
        <span class="title">
          يقدم تطبيق مصنعي قناة جديدة للإبلاغ عن المخالفات الصناعية المتعلقة
          بانباعثات المصانع في كافة مناطق الصناعات الحديثة و التكنولوجية.
        </span>
      </div>
      <div class="making-imgs">
        <!-- png -->
        <img src="../../assets/images/union.png" class="first" />
        <img src="../../assets/images/enviro-making.png" class="second" />
      </div>
    </div>
  </div>

  <!--   Footer Bottom start  -->
  <div class="footer-bottom">
    <div class="container">
      <span>&copy;2021 وزارة الشؤون البلدية والقروية </span>
      <div class="setting-login">
        <!-- png -->
        <span>سياسة الخصوصية</span>
        <div class="rectangle"></div>
        <span>سياسة المحتوى</span>
        <div class="rectangle"></div>
        <span>اتفاقية مستوى الخدمة</span>
      </div>
    </div>
  </div>
</div>
