<section class="service">
  <div class="head">
    <div class="more">
      <a>
        المزيد
        <img src="../../assets/images/arrow-left-white.png" class="user" />
      </a>
    </div>
    <span class="title"> خدمات مصنعي </span>
  </div>
  <div class="carousel-container">
    <carousel
      [cellWidth]="1200"
      [autoplay]="true"
      [loop]="true"
      [arrows]="false"
      [height]="350"
      [margin]="0"
      [transitionDuration]="300"
      [autoplayInterval]="5000"
    >
      <div class="carousel-cell">
        <div class="combined-cards">
          <div class="card first">
            <div class="img-rect">
              <img src="../../assets/images/repair.jpeg" />
            </div>

            <span class="card-title"> خدمات التركيب والتطوير</span>
            <br />
            <span class="card-content">
              التنقل بين الاستخدام الشخصي واستخدام كمنشأة التنقل بين الاستخدام
              الشخصي واستخدام كمنشأة التنقل
            </span>
            <div class="card-btn">
              <a href="#">
                <img src="../../assets/images/arrow-down-1@3x.png" />
              </a>
            </div>
          </div>
          <div class="card middle-card">
            <div class="img-rect">
              <img src="../../assets/images/earth.png" />
            </div>
            <div class="first-row">
              <div class="card-items">
                <span class="card-title"> خدمات صناعية صديقة للبيئة </span>
                <br />
                <span class="card-content">
                  تحتوي على كافة التراخيص <br />والتصاريح المتعلقة بالانشطة
                  البيئية
                </span>
              </div>
              <div class="card-items">
                <span class="card-title">الفئة المستهدفة</span>
                <!--for the underline -->
                <ul>
                  <a href="#"><li>الأفراد</li></a>
                  <a href="#"><li>أصحاب الاعمال</li></a>
                  <a href="#"><li>الاستعلامات</li></a>
                </ul>
              </div>

              <!--  for some other links -->
              <div class="card-items">
                <span class="card-title">اهم الخدمات</span>
                <!--for the underline -->
                <ul>
                  <a href="#"><li>إصدار رخصة صناعية</li></a>
                  <a href="#"><li>تجديد رخصة صناعية</li></a>
                  <a href="#"><li>تعديل رخصة صناعية</li></a>
                </ul>
              </div>
            </div>

            <div class="services">
              <div class="more">
                <a>
                  جميع الخدمات
                  <img
                    src="../../assets/images/arrow-left-white.png"
                    class="user"
                  />
                </a>
              </div>
              <span class="arrow-icon">
                <img src="../../assets/images/arrow-down-1@3x.png" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="combined-cards">
          <div class="card first">
            <div class="img-rect">
              <img src="../../assets/images/icon@3x.png" />
            </div>

            <span class="card-title"> الصيانات الميكانيكية</span>
            <br />
            <span class="card-content">
              اتمام الصيانات العاجلة في الوقت المناسب بدون الحاجة لتعطيل العمل
              او الاضطرار الي الاغلاق الكلي او الجزئي للمصنع.
            </span>
            <div class="card-btn">
              <a href="#">
                <img src="../../assets/images/arrow-down-1@3x.png" />
              </a>
            </div>
          </div>
          <div class="card middle-card">
            <div class="img-rect">
              <img src="../../assets/images/earth.png" />
            </div>
            <div class="first-row">
              <div class="card-items">
                <span class="card-title"> خدمات صناعية صديقة للبيئة </span>
                <br />
                <span class="card-content">
                  تحتوي على كافة التراخيص <br />والتصاريح المتعلقة بالانشطة
                  البيئية
                </span>
              </div>
              <div class="card-items">
                <span class="card-title">الفئة المستهدفة</span>
                <!--for the underline -->
                <ul>
                  <a href="#"><li>الأفراد</li></a>
                  <a href="#"><li>أصحاب الاعمال</li></a>
                  <a href="#"><li>الاستعلامات</li></a>
                </ul>
              </div>

              <!--  for some other links -->
              <div class="card-items">
                <span class="card-title">اهم الخدمات</span>
                <!--for the underline -->
                <ul>
                  <a href="#"><li>إصدار رخصة صناعية</li></a>
                  <a href="#"><li>تجديد رخصة صناعية</li></a>
                  <a href="#"><li>تعديل رخصة صناعية</li></a>
                </ul>
              </div>
            </div>

            <div class="services">
              <div class="more">
                <a>
                  جميع الخدمات
                  <img
                    src="../../assets/images/arrow-left-white.png"
                    class="user"
                  />
                </a>
              </div>
              <span class="arrow-icon">
                <img src="../../assets/images/arrow-down-1@3x.png" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
