<div class="card-newIn">
  <div class="wrapper">
    <div class="card">
      <img src="../../assets/images/new1.png" />
      <div class="details">
        <div class="content">
          <div class="date">
            <img
              src="../../assets/images/date-calendar.png"
              class="search-alternate"
            />
            <span>السبت ٢١ يونيو</span>
          </div>
          <div class="container">
            <main class="flex">
              <div class="text">
                <span>سكن العمالة</span>
              </div>
            </main>
          </div>
          <div class="title">
            ازدواجية صلاحيات نظام الحفاظ علي البيئة للأفراد والمصانع المرخص…
          </div>
          <span class="info">
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
            ليتصور …
          </span>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/new2.png" />
      <div class="details">
        <div class="content">
          <div class="date">
            <img
              src="../../assets/images/date-calendar.png"
              class="search-alternate"
            />
            <span>السبت ٢١ يونيو</span>
          </div>
          <div class="container">
            <main class="flex">
              <div class="text">
                <span>التكاملات الصناعية</span>
              </div>
            </main>
          </div>
          <div class="title">
            ازدواجية صلاحيات نظام الحفاظ علي البيئة للأفراد والمصانع المرخص…
          </div>
          <span class="info">
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
            ليتصور …
          </span>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/new3.png" />
      <div class="details">
        <div class="content">
          <div class="date">
            <img
              src="../../assets/images/date-calendar.png"
              class="search-alternate"
            />
            <span>السبت ٢١ يونيو</span>
          </div>
          <div class="container">
            <main class="flex">
              <div class="text">
                <span>تحديثات الخدمات</span>
              </div>
            </main>
          </div>
          <div class="title">
            ازدواجية صلاحيات نظام الحفاظ علي البيئة للأفراد والمصانع المرخص…
          </div>
          <span class="info">
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
            ليتصور …
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
